extend layout


    
block content
  div
    table(id='weather-table')
      thead 
        tr: th Location 
            th Temperature 
            th Weather 
      tbody
        - each city in weatherDataArray      
          tr: td #{city.display_location.full}
              td #{city.temperature_string}
              td #{city.weather}
block sidebar
        